@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins';
    color: #202020;
}

footer {
    height: 10rem;
}

.margin-top-8rem {
    margin-top: 8rem;
}

.flex {
    display: flex;
}

#carousel {
    background-image: url('../assets/carousel.png');
    height: 40rem;
}

#newsletter-header {
    margin: 0 2rem 0 0;
    color: white;
}

.bg-green {
    background-color: #03A800;
}